@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    padding: 80px 0;
}

html{
    scroll-behavior: smooth;
}

body{
    padding: 24px;
}
.purple{
    color:blueviolet;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 50px;
}
.logo_text:hover{
    text-decoration: none;
}
.nav_links{
    display: flex;
    list-style-type: none;
    padding-left: 30%;
}
.nav_link{
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: black;
    transition: 300ms ease all;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}
.btn{
    border-radius: 40px;
    border: none;
    padding: 12px 16px;
    width: 124px;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #590896;
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.h-container{
    display: flex;
    align-items: center;
}
.ill_img-container{
    width: 60%;
}
.ill_img{
    width: 100%;
}
header{
    padding-top: 100px;
    display: flex;
}

header h1{
    font-size: 40px;
    padding-bottom: 24px;
}
header p{
    color:dimgrey;
    padding-bottom: 24px;
    line-height: 1.5em;
}
.p-customers{
    padding-top: 24px;
}
.email{
    height: 44px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 20px;
}
.cust_img{
    width: 300px;
}
.btn_email{
    margin-top: 24px;
}

/* Features */

.f-container{
    padding: 80px 0;
}
.container-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
}
.container-features h3{
    padding-bottom: 24px;
}
.container-features h1{
    padding-bottom: 24px;
    font-size: 50px;
}
.container-features p{
    font-size: 20px;
    text-align: center;
    color: dimgray;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding:36px
}
.sercve_description{
    display: flex;
    flex-direction: column;
}
.service_description h3{
    padding-bottom: 16px;
}
.service_description p{
    color: dimgray;
    line-height: 1.5em;
}

.features-icon{
    margin-right: 20px;
    margin-top: 12px;
    color: #590896;
}

/* Work */
.w-container{
    display: flex;
    padding: 80px 0;
}
.work-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.work-container h3{
    padding-bottom: 16px;
}
.work-container h1{
    font-size: 36px;
    padding-bottom: 16px;
}
.work-container p{
    color: dimgray;
    padding-bottom: 16px;
    line-height: 1.5em;
}
.work_img-container{
    width: 50%;
}
.work-img{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
}

/* STEPS */

.step_img-container{
    width: 50%;
}
.step_img{
    width: 100%;
}
.steps{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.steps-wrapper{
    display: flex;
}
.step{
    display: flex;
}
.step_description{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}
.steps h4{
    padding-bottom: 8px;
}
.step{
    padding: 16px;
}
.step-heading{
    font-size: 36px;
}
.step-number{
    margin-right: 20px;
    color: lightgrey;
    font-size: 30px;
}
.step_description h3{
    padding-bottom: 8px;
}
