@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

.container{
    padding: 80px 0;
    padding: 24px;
}

html{
    scroll-behavior: smooth;
}

.purple{
    color:blueviolet;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.nav_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}
.logo{
    width: 50px;
}
.logo_text:hover{
    text-decoration: none;
}
.nav_links{
    display: flex;
    list-style-type: none;
    padding-left: 30%;
}
.nav_link{
    padding-right: 30px;
}
a{
    text-decoration: none;
    color: black;
    transition: 300ms ease all;
}
a:hover{
    text-decoration: underline;
    color: blueviolet;
}
.btn{
    border-radius: 40px;
    border: none;
    padding: 12px 16px;
    width: 124px;
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover{
    background-color: #590896;
}
.left-container{
    display: flex;
    flex-direction: column;
    width: 40%;
}
.h-container{
    display: flex;
    align-items: center;
    padding: 24px;
}
.ill_img-container{
    width: 60%;
}
.ill_img{
    width: 100%;
}
header{
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
}

header h1{
    font-size: 40px;
    padding-bottom: 24px;
}
header p{
    color:dimgrey;
    padding-bottom: 24px;
    line-height: 1.5em;
}
.p-customers{
    padding-top: 24px;
}
.email{
    height: 44px;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 20px;
}
.cust_img{
    width: 300px;
}
.btn_email{
    margin-top: 24px;
}

/* Features */

.f-container{
    padding: 80px 0;
    padding-bottom: 20vh;
}
.container-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 44px;
}
.container-features h3{
    padding-bottom: 24px;
}
.container-features h1{
    padding-bottom: 24px;
    font-size: 50px;
}
.container-features p{
    font-size: 20px;
    text-align: center;
    color: dimgray;
}

.services{
    display: flex;
    flex-wrap: wrap;
}

.service{
    display: flex;
    width: calc(100%/3);
    padding:36px
}
.sercve_description{
    display: flex;
    flex-direction: column;
}
.service_description h3{
    padding-bottom: 16px;
}
.service_description p{
    color: dimgray;
    line-height: 1.5em;
}

.features-icon{
    margin-right: 20px;
    margin-top: 12px;
    color: #590896;
}

/* Work */
.w-container{
    display: flex;
    padding: 80px 0;
    padding: 24px;
    padding-bottom: 20vh;
}
.work-container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.work-container h3{
    padding-bottom: 16px;
}
.work-container h1{
    font-size: 36px;
    padding-bottom: 16px;
}
.work-container p{
    color: dimgray;
    padding-bottom: 16px;
    line-height: 1.5em;
}
.work_img-container{
    width: 50%;
}
.work-img{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
}

/* STEPS */

.step_img-container{
    width: 50%;
}
.step_img{
    width: 100%;
}
.steps{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.steps-wrapper{
    display: flex;
    padding-bottom: 20vh;
    padding-top: 20vh;
}
.step{
    display: flex;
}
.step_description{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
}
.steps h4{
    padding-bottom: 8px;
}
.step{
    padding: 16px;
}
.step-heading{
    font-size: 36px;
}
.step-number{
    margin-right: 20px;
    color: lightgrey;
    font-size: 30px;
}
.step_description h3{
    padding-bottom: 8px;
}
.step_description p{
    color: dimgray;
}

/* Values */
.values-container{
    display: flex;
    padding-top: 20vh;
    padding-bottom: 20vh;
}
.values-container-m{
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 1.5em;
    padding-right: 36px;
}
.values-container-m h3{
    padding-bottom: 8px;
}
.values-container-m h1{
    padding-bottom: 16px;
    font-size: 32px;
    line-height: 1.5em;
}
.values-container-m button{
    margin-top: 24px;
}
.values-container-m p{
    color: dimgray;
}
.values-container-v{
    display: flex;
}
.value-logo{
    display: flex;
}
.value-logo i{
    padding-right: 20px;
    color: #590896;
}
.value{
    padding-top: 16px;
    padding-right: 24px;
}
.value_description{
    line-height: 1.5em;
    color: dimgray;
}
.values_img-container{
    width: 50%;
}
.proto-img{
    width: 100%;
}

/* PRICES */

.container-inside{
    width: 100%;
    padding-bottom: 20vh;
    padding-top: 20vh;
}
.price-heading-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price-heading-wrapper h1{
    font-size: 36px;
    padding: 16px;
}
.price-heading-wrapper p{
    color: dimgray;
    line-height: 1.5em;
}
.pricing{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: 36px;
}
.price{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    border: 1px solid lightgray;
    border-radius: 4%;
    line-height: 1.5em;
    width: calc(100%/3);
    max-width: 24rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 4rem;
    background-size: initial;
}
.border_green{
    border-top: 10px solid #06beb6;
}
.border_red{
    border-top: 10px solid #be065c;
}
.full{
    background-color: rgba(159, 90, 253);
    color: white;
    border-top: 10px solid blueviolet;
}
.price_heading h1,h4,h5{
    line-height: 30px;
    padding-bottom: 16px;
}
.price_heading h4{
    font-size: 20px;
    padding-top: 24px;
}
.price_heading h1{
    font-size: 36px;
}
.price_heading h5{
    color: lightgray;
    font-size: 12px;
}
.price_description{
    line-height: 30px;
}
.price_description h2,p {
    padding-bottom: 16px;
}
.price_description h2{
    padding-top: 16px;
    font-size: 16px;
}
.price_button{
    padding:16px 0;
}
.buy_btn{
    padding: 12px;
    width: 60%;
    border-radius: 50px;
    border: none;
    background: linear-gradient(to bottom right, #06beb6, #48b1bf);
    color:white;
    font-weight: 700;
}
.buy_btn-white{
    padding: 12px;
    width: 60%;
    border-radius: 50px;
    border: none;
    background: white;
    color:blueviolet;
    font-weight: 700;
}
.buy_btn-red{
    padding: 12px;
    width: 60%;
    border-radius: 50px;
    border: none;
    background: #be065c;
    color:white;
    font-weight: 700;
}



/* Footer */
footer{
    background-color: blueviolet;
}
.links{
    display: flex;
}
.link{
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}
.link h1{
    color: white;
    font-size: 16px;
    padding: 24px;
}
.link a{
    color: white;
    text-decoration: none;
    padding: 8px 0;
    font-size: 12px;
}
.link a:last-child{
    padding-bottom: 36px;
}
.footer_line{
    background-color: #590896;
}
.footer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    color: white;
    padding-bottom: 24px;
}

.footer_logo{
    width: 36px;
    background-color: white;
}
.socials{
    color: white;
}
.social:hover{
    color: navajowhite;
}
.social{
    padding-right: 8px;
}

@media(max-width: 1000px){
    .h-container{
        flex-direction: column;
    }
    .left-container{
       align-items: center;
       width: 100%;
    }
    .left-container h1{
        font-size: 36px;
    }
    .email{
        width: 100%;
    }
    .cust_img{
        width: 50vh;
    }
    .service{
        width: calc(100%/2);
    }
    .values-container-v{
        flex-direction: column;
    }
    .pricing{
        flex-direction: column;
        align-items: center;
    }
    .price{
        width: 100%;
    }
}


@media(max-width: 780px){
    .left-container{
        width: 100%;
    }
    .left-container h1{
        font-size: 50px;
    }
    .btn{
        width: 100%;
    }
    .service{
        width: 100%;
    }
    .w-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .work-container{
        width: 100%;
        align-items: center;
    }
    .w-container h1{
        font-size: 30px;
    }
    .work_img-container{
        padding-top: 24px;
        display: flex;
        justify-content: center;
    }
    .work-img{
        width: 50vh;
    }
    .steps-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .step{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .step_description{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .step-number{
        font-size: 40px;
    }
    .steps h1, h4{
        text-align: center;
    }
    .step_img{
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 10vh;
    }

    .values-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .values-container-m h1{
        font-size: 30px;
    }
    .value-logo{
        justify-content: center;
    }
    .proto-img{
        padding-top: 10vh;
        width: 100%;
    }
}
